.footer{
   
    position: relative;
}

.footer__container{

    max-width: 98.6rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 28%;
}
.footer__container p{
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: #585050;
}
.footer__container a{
    color: #205EB0;
    text-decoration: #B9D5FC;
    
}

.footer__container a:hover{
    color: #B9D5FC;
}

.footer__img{
    position: relative;
    width: 100%;
}
