.footer{
   
    position: relative;
}

.footer__container{

    width: 100%;
    padding: 0 3.2rem;

    position: absolute;
    bottom: 0;
    display: flex;

    justify-content: center;
   
}
.footer__container p{
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--text-body-color);
}
.footer__container a{
    color: #205EB0;
    text-decoration: #B9D5FC;
    
}

.footer__container a:hover{
    color: #B9D5FC;
}

.footer__img{
    position: relative;
    width: 100%;
}
